#episodes-container{
    background-color: #2c267c;
    padding: 10vh 10vw 10vh 10vw;
    text-align: center;
}

#episodes-title{
    color: #ff7043;
    text-align: center;
}

.social-logo{
    width: 3vw;
    margin: 0rem 2rem;
}

.social-logo:hover{
    scale: 1.2;
}

@media screen and (max-width: 1500px){
    .social-logo{
        width: 5vw;
    }
}

@media screen and (max-width: 900px){
    .social-logo{
        width: 7vw;
    }
}

@media screen and (max-width: 600px){
    .social-logo{
        width: 10vw;
        margin: 0 1rem;
    }
}